# dot files
/.vscode/launch.json
/.settings
/.eide/log
/.eide.usr.ctx.json

# project out
/build
/bin
/obj
/out

/application/MDK-ARM/application
/bootloader/MDK-ARM/bootloader

# 屏蔽所有.o文件 .crf文件
*.o
*.crf

# eide template
*.ept
*.eide-template
